!!!
html
  head
    title= title
    link(rel="stylesheet", href="main.css")
    link(rel="stylesheet", href="javascript/highlight.js/styles/monokai.css")
    script(src="javascript/jquery.min.js")
    script(src="javascript/bootstrap.min.js")
    script(src="javascript/toc.min.js")
    script(src="javascript/highlight.js/highlight.pack.js")
    script(src="javascript/main.js")
    meta(name="viewport",content="width=device-width, initial-scale=1, user-scalable=no")
  body
    nav(class="navbar navbar-default navbar-fixed-top")
      header(class="navbar-header")
       a(class="navbar-brand", href="index.html")= sitename
      ul(class="nav navbar-nav")
        li
          a(href="https://github.com/wballard/starphleet") Source
    section(class="leftnav", id="leftnav")
      nav(class="sidebar-nav sidebar-nav-fixed", id="toc")
    div(class="main", id="main")
      div(class="content", id="content")
        != yield
      footer
        p Copyright &copy 2013
